<h1>Stupid coaching</h1>

<div class="container">

<blockquote class ="ludwig">
    <p><%= @question %></p>
    <p>- You</p>
</blockquote>

<blockquote class ="ludwig">
    <p><%= @answer %></p>
    <p>- Your coach</p>
</blockquote>

</div>

<p><%= link_to "Ask a new question", ask_path %></p>
